@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
  }

  body {
    background: linear-gradient(45deg, #4158D0, #C850C0, #FFCC70);
    position: relative;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
  }

  nav{
    background: #24262b;
    padding: 10px 40px 10px 70px;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
  }

  nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  nav ul li.logo{
    flex: 1;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
  }

  nav ul div.items{
    padding: 0 25px;
    display: inline-flex;
  }

  nav ul div.items a{
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;
  }

  nav ul div.items a:hover{
    color: cyan;
  }

  nav ul .search-icon{
    height: 40px;
    width: 240px;
    display: flex;
    background: #f2f2f2;
    border-radius: 50px;
  }

  nav ul .search-icon input{
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 50px 5px 5px 50px;
  }

  nav ul .search-icon .icon{
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    /* border: 1px solid #cccccc; */
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  nav ul .search-icon .icon:hover{
    background: #e6e6e6;
    border-radius: 5px 50px 50px 5px;

  }
  nav ul .search-icon .icon span{
    color: #222222;
    font-size: 18px;
  }

  nav ul li.btn{
    font-size: 29px;
    flex: 1;
    padding: 0 40px;
    display: none;
  }
  nav ul li.btn span{
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 1px solid #151515;
    border-radius: 5px;
    cursor: pointer;
  }
  nav ul li.btn span.show:before{
    content: '\f00d';
  }

  .container {
    max-width: 1000px;;
    margin: auto;
    display: grid;
  }

  .heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    font-family: 'Playfair Display', serif;
  }

  .logo-container {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 200;
  }

  .logo-container h1 span{
    font-weight: 800;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    width: 300px;
    /* border: 1px solid #ccc; */
    margin-bottom: 50px;
    transition: 0.3s;
    border-radius: 50px; 
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  }

  .card-image {
    display: block;
    width: 100%;
    height: 19rem;
    object-fit: contain;
    border-radius: 360px;
  }

  .card-header {
    text-align: center;
    padding: 50px 10px;
    /* background: linear-gradient(45deg, #4158D0, #C850C0, #FFCC70); */
    color: #fff;
    border-radius: 50px;
    opacity: 1;
    font-family: 'Poppins', sans-serif;
;
  }

  .card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
  }

  .card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: #4158D0;
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 50px;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }

  ul{
    list-style: none;
  }

  .footer{
    background-color: #24262b;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }

  @media screen and (max-width: 1000px) {
    .card {
      width: 40%;
    }
    .card-image {
      border-radius: 300px;
    }
  }
  
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
    }
  
    .heading {
      padding: 20px;
      font-size: 20px;
    }
  
    .card {
      width: 80%;
    }
    .card-image {
      border-radius: 300px;
    }
  }

  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
    }
  }

  @media screen and (max-width: 1000px) {
    nav{
      padding: 10px 40px 10px 0px;
    }
    /* nav ul li.logo{
      display: none;
    } */
    /* nav ul div.items{
      flex: 4; */
    }
  
  @media screen and (max-width: 620px){
    /* nav ul li.btn{
      display: block;
    } */
    nav{
      z-index: 1;
      padding: 9px 40px 9px 0;
    }
    nav ul div.items{
      z-index: -1;
      position: fixed;
      top: -220px;
      right: 0;
      width: 100%;
      background: #222222;
      display: inline-block;
      transition: top .4s;
    }
    nav ul div.items.show{
      top: 60px;
    }
    nav ul div.items li{
      text-align: center;
      line-height: 30px;
      margin: 30px 0;
    }
    nav ul div.items li a{
      font-size: 19px;
    }
  }
  @media screen and (max-width: 405px) {
    nav ul{
      flex-wrap: wrap;
    }
    nav ul li.search{
      width: 50vmin;
    } 
    nav ul li input{
      width: 40vmin;
    }
    nav ul li .search-icon{
      width: 10vmin;
    }
  }
